@import './main/sign';
.pre-load
{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #398;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    &.hidden
    {
    	opacity: 0;
    }
}