.navbar
{
	display: flex;
    justify-content: flex-end;
    flex: 1 0 auto;
    overflow: hidden;
    &.show
    {
    	.nav-list
    	{
    		transform: translateX(0);
    	}
    	.line
    	{
    		opacity: 0;
    	}
    	.line-toggel
		{
	    	&:before
	    	{
	    		transform: rotate(-45deg) translateX(-8px);
	    	}
	    	&:after
	    	{
	    		    transform: rotate(45deg) translateX(-8px);
	    	}
		}
    }
}
.nav-toggel
{
	background-color: transparent;
	color:$white-color;
	padding: 0.5em 1em;
	text-transform: capitalize;
}
.line-toggel
{
	width: 30px;
    display: inline-block;
    margin-left: 1em;
	&:after,
	&:before,
	.line
	{
		content: "";
	    width: 100%;
	    height: 2px;
	    line-height: 3px;
	    background-color: $white-color;
	    display: block;
	    margin: 4px 0;
	    transition:transform 0.3s ease-in-out, opacity 0.3s ease-out;
	}
}
